requirement

-- UI --
create reusable lib in backend. unified for all db types.
display sql with colour highlight
run it with limit 10 ;
display result in grid. popup grid.

left panel
schema drop down
table drop down. + views
-----------

- output sql for selected type of database
	- factory pattern for each database.???
- parse sql and generate ui setting
- save ui settings as sql


CTAS sql
    colourcode sql
    run sql with limit 10!
    validate generated sql
    save metadata . source table list + target table list
    source column list
    target column list.
        !POSTPHONED	select with multiple table joins and nested where
        !POSTPHONED		select* group by with having
        !POSTPHONED			with statement

MERGE
	merge using PK of target 
	auto match using column names 
		insert , update 
	list non matchng columns 
	post sql . multiple ?

SCD 
* 

IMP 
merge using PK 
full merge flag deleted 
insert delta 
use target to generate select * 

