<div layout="column" class="full-height">
	<div layout="row" layout class="full-height">
		<!-- First Column-->
		<div flex="40" class="full-height" style="margin-right: 10px">
			<div layout="column" class="full-height">
				<!-- Second Rof in First Column-->
				<div flex>
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-subhead large-label">Schemas</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content style="height: 300px">
							<md-input-container>
								<md-select flex="80" ng-model="selectedSchema" aria-label="Select a database" class="md-no-underline">
									<md-option ng-repeat="schema in schemas | orderBy: 'name'" ng-value="schema">{{ schema.name }}
									</md-option>
								</md-select>
							</md-input-container>
							<p class="md-subhead large-label no-margin-bottom">Tables</p>
							<!--
							<md-virtual-repeat-container id="table-list-container">
								<p ng-show="!tables.length" class="md-caption">No database selected</p>
								<div md-virtual-repeat="table in tables" ng-click="selectTable(table)"
								     class="repeated-item" flex>
									<p class="md-caption">{{table.name}}</p>
								</div>
							</md-virtual-repeat-container>
							-->
							<div class="innerContent">
								<md-list class="table-list">
									<md-list-item ng-repeat="table in tables" ng-click="selectTable(table)">{{table.name}}</md-list-item>
								</md-list>
							</div>
						</md-card-content>
					</md-card>
				</div>
				
				<!-- Second Rof in First Column-->
				<div flex>
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-subhead large-label">Definition</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content id="table-definition-container">
							<md-tabs md-dynamic-height md-border-bottom>
								<md-tab label="info">
									<md-content flex class="md-padding" style="height: 300px">
										<p ng-show="!selectedSchema" class="md-caption">No schema selected</p>
										<p ng-show="!selectedTable && selectedSchema" class="no-margin-bottom"><span class="md-body-1">Schema:</span>&nbsp;<span
												class="md-caption md-accent">{{selectedSchema.name}}</span></p>
										<div ng-show="selectedTable">
											<p class="no-margin-bottom"><span class="md-body-1">Table:</span>&nbsp;<span
													class="md-caption md-accent">{{selectedTable}}</span>
											</p>
											
											<p class="md-body-1 no-margin-bottom">Columns:</p>
											<md-list class="table-list">
												<md-list-item ng-repeat="column in columns"><span class="md-caption md-accent cohocolate">{{column
                                        .name}}:</span>&nbsp;<span
														class="md-caption md-accent">{{column.type}}</span>
												</md-list-item>
											</md-list>
										</div>
									</md-content>
								</md-tab>
								<md-tab label="session">
									<md-content flex class="md-padding" style="height: 300px">
										<span class="md-body-1">Connection:</span> <br>
										<span class="md-caption">Name: Live</span><br>
										<span class="md-caption">Host: foo.bar.db.server.lan</span><br>
										<span class="md-caption">Port: 3306</span><br>
										<span class="md-caption">Server: MariaDB Server</span><br>
										<span class="md-caption">Version: 5.5.54-MariaDB</span><br>
										<span class="md-caption">Login User: ms</span><br>
									</md-content>
								</md-tab>
							</md-tabs>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</div>
		
		<!-- Second Column-->
		<div flex>
			<div flex>
				<p flex class="md-subhead no-margin-bottom large-label">Expression</p>
				<div layout="row" layout-align="end center">
					<button class="primary-button" ng-click="formatEditor(ctasEditor)">Format</button>
					<button class="primary-button"
					        ng-click="validateJson(jsonInput,getSpec(transform,jsonSpec),transform)"
					        ng-disabled="!(jsonSpec)">Validate
					</button>
				</div>
			</div>
			<div flex>
				<div id="expressEditor" ui-refresh="true" ng-model="ctasExpression" ui-codemirror="editorProperties"
				     class="code-mirror-editor {{disableCSS}}">
				</div>
			</div>
			<div flex>
				<div layout="row" layout-align="end center">
					<!--button class="secondary-button" ng-click="formatEditor(inputEditor)">Cancel</button-->
					<span ng-show="error" class="info">{{error}}</span>
					<span ng-show="saveStatus && !error" class="info">{{saveStatus}}</span>
					
					<button class="primary-button"
					        ng-click="saveCtasExpression(ctasExpression,processorId,clientId,revisionId)">
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>