body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.code-mirror-editor.trans {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.large-label {
    color: #728e9b;
    font-size: 12pt;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    float: left;
}

md-card {
    margin: 0 !important;
    box-shadow: none !important;
}

md-card md-card-title {
    padding: 1px 4px !important;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 8px !important;
}

md-card md-card-content {
    padding: 0 4px !important;
}

md-list-item {
    padding: 0 4px !important;
    min-height: 24px !important;
}

md-list-item .md-button {
    text-transform: none !important;
    font-size: 10px;
    line-height: 26px;
    min-height: 16px;
    margin: 0 6px;
}

.info {
    font-style: italic;
    font-size: 75%;
}

div.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 1px 0 1px 0;
}

#mainView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
}

#addButton {
    font-size: 60%;
}

#variableList {
    word-wrap: break-word;
}

.primary-button,
.secondary-button {
    height: 32px;
    width: 90px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
    border: 0;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.primary-button {
    background: #728e9b;
}

.primary-button:hover:not(.disabled-button) {
    background: rgb(0, 72, 73);
}

.secondary-button {
    background: rgb(227, 232, 235);
    color: rgb(0, 72, 73);
}

.secondary-button:hover:not(.disabled-button) {
    background: rgb(199, 210, 215);
    border-color: rgb(199, 210, 215);
    color: rgb(0, 72, 73);
}

button.small-button {
    height: 100%;
    width: 28px;
}

div.md-toolbar-tools {
    height: 35px;
    padding: 0 0px;
}

.md-subheader .md-subheader-inner {
    padding: 0px 0px 16px 0px;
}

md-toolbar {
    min-height: 30px;
}

md-list-item.md-2-line {
    padding: 0px 0px 16px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30px;
}

button.modal-button {
    width: 28px;
}

.modal-header-label {
    color: #fff;
    font-size: 18px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 56px;
    padding-left: 20px;
    text-overflow: ellipsis;
}

.modal-label {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto Slab;
    text-transform: capitalize;
    padding-bottom: 4px;
    color: #262626;
}

md-dialog .md-actions,
md-dialog md-dialog-actions {
    padding-right: 0px;
    min-height: 0px;
}

md-option {
    height: 32px;
    padding: 0px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(234, 238, 240)
}

md-input-container {
    padding: 2px;
    margin: 4px 0;
    width: 100%;
}

md-select .md-select-value {
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    background-color: rgb(234, 238, 240);
    border-bottom-color: rgb(234, 238, 240);
}

md-option .md-text {
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: rgb(38, 38, 38);
}

#table-list-container {
    height: 200px;
    width: 100%;
    max-width: 400px;
}

#table-definition-container {
    height: 200px;
    width: 100%;
    padding-left: 8px
}

.repeated-item {
    height: 2em;
    padding-top: 10px;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 12px;
}

.md-body-1 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .010em;
    line-height: 20px;
}

.CodeMirror {
    width: 100%;
}

.no-margin-bottom {
    margin-bottom: 0px;
}
